# --- BASES DE DATOS (Persistencia Local) ---
# El doble asterisco ** permite buscar en cualquier subcarpeta
**/oracle_data/
**/mysql_data/
# Regla universal: ignora cualquier carpeta que termine en _data
**/*_data/

# --- ARCHIVOS DE CONFIGURACIÓN DE ORACLE ---
# Ignora archivos de log y trazas que genera el motor
**/*.log
**/*.tmp
**/diag/
**/admin/

# --- ARCHIVOS DE SISTEMA Y EDITORES ---
.vscode/
.idea/
Thumbs.db
desktop.ini

# --- EXCEPCIONES (Opcional) ---
# Si usas scripts de inicialización SQL, asegúrate de que NO se ignoren
!**/init-db/*.sql